/*header*/

header{
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    font-family: Roboto, Arial, sans-serif;
    background-color: white;
    border-bottom: white;
}

.head{
    margin-top: 0px;
    margin-left: 20px;
    padding: 0px;
    height: 50px;
    width: 270px;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

il > a{
    text-decoration: none;
    color: grey;
}
a:hover{
    color: #00b39b;

}

a:active{
    color: #00b39b;
}

/*main */
main{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decoration{
    margin-top: 40px;
    margin-bottom: 30px;
}
h1{
    font-size: 25px;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    
}
.text{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    gap: 25px;
    font-size: 16px;
    line-height: 1.3;
    font-family: sans-serif;
    color: gray;
}

section{
    display: flex;
    gap: 20px;
    
}

.Box1{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: rgb(96, 199, 165);
    color: aliceblue;
    max-width: 250px;
    min-width: 200px;

}

.Box2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
    background: rgb(75, 37, 243);
    color: aliceblue;
    max-width: 250px;
    min-height: 300px;
    min-width: 200px;
}

.Box3{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: rgb(8, 5, 31);
    color: aliceblue;
    max-width: 250px;
    min-width: 200px;
}

.ibox1{
    max-width: 20px;
    max-height: 20px;
}

select{
    background: none;
    color:aliceblue;
    text-decoration:underline ;
    border: none;
    font-size: 20px;
    margin-top: 40px;
}

.textnlogos{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.h1text{
    max-width: 250px;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    size: 16px;
}

.brandslogos{
    display: flex;
    flex-wrap: wrap;
}
option{
    color: black;
    align-items: flex-end;    
}

.logo1{
    min-height: 100px;
    max-width: 100px;
    filter: grayscale(100%);
}

.logo2{
    min-height: 100px;
    max-width: 100px;
    filter: grayscale(100%);
}

.logo3{
    min-height: 100px;
    max-width: 100px;
    filter: grayscale(100%);
}

.logo4{
    min-height: 100px;
    max-width: 100px;
    filter: grayscale(100%);
}

.logo5{
    min-height: 100px;
    max-width: 100px;
    filter: grayscale(100%);
}

.logo6{
    min-height: 100px;
    max-width: 100px;
    filter: grayscale(100%);
}

.logo1:hover{
    filter: grayscale(0%);
}

.logo2:hover{
    filter: grayscale(0%);
}

.logo3:hover{
    filter: grayscale(0%);
}

.logo4:hover{
    filter: grayscale(0%);
}

.logo5:hover{
    filter: grayscale(0%);
}

.logo6:hover{
    filter: grayscale(0%);
}

/* partie 2 */
.part2{
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(195, 245, 228);
    display: flex;
    justify-content: space-around;
    padding: 40px;
    width: auto;
    gap: 100px;
    padding-left: 270px;
    padding-right: 280px;
}

.h2part2{
    color: #00b39b;
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.ppart2{
    font-family: Roboto, Arial, sans-serif;
    color: gray;
}

.littlebox{
    padding: 15px;
    background-color: white;
    width: 200px;
    height: 250px;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.littleboxcontainer{
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.first2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    row-gap: 15px;
}
.second2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    margin-bottom: 20px;
}

.part3{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1containerp3{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.h1part3{
    margin-top: 30px;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    size: 16px;
}
.textp3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}
.ppart3{
    font-family: Roboto, Arial, sans-serif;
    color: gray;
    margin: 0px;
    padding: 0px;
}

